@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@theme {
  --font-sans: "Lato", sans-serif;
  --font-serif: "Lato", sans-serif;
  --color-golden-brown-50: #fefce8;
  --color-golden-brown-100: #fef9c3;
  --color-golden-brown-700: #a16207;
  --color-golden-brown-800: #854d0e;
}

@layer base {
  body {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  .dark {
    color-scheme: dark;
  }
}

